@charset "utf-8";

.container {
    background: #FF7300;
    height: 400px;
}


/*纯html布局*/
.chessView-html {
    background: #d4105a;
    height: 100%;
    width: 50%;
    position: relative;
}

.tabelview {
    height: 300px;
    width: 300px;
    position: absolute;
    right: 0;
    left:0;
    top:0;
    bottom:0;
    margin: auto;
}

.td-white {
    background: #FFFFFF;
}

.td-black {
    background: #000000;
}


/*纯js布局*/
.chessView-js {
    background: #c3d41d;
    height: 100%;
    width: 50%;
    position: relative;
}

.js-tableView {
    height: 300px;
    width: 300px;
    position: absolute;
    right: 0;
    left:0;
    top:0;
    bottom:0;
    margin: auto;
}


/*代码展示*/
.codeView {
    background: #999999;
    margin-top: 10px;
    width: 100%;
}

.codeView-html {
    width: 50%;
    height: 500px;
    position: relative;
}

.textarea-html {
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
}


.codeView-js {
    width: 50%;
    height: 500px;
    position: relative;
}

.textarea-js {
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
}
